* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    background-color: darkblue;
    font-family: 'Roboto', sans-serif;
    color: white;
}

header{
    color: white;
    text-align: center;
    margin-top: 25px;
    font-size: 30px;
    font-weight: 900;
    border-bottom: 5px dashed white;
    padding-bottom: 25px;
}

select {
    display: block;
    margin: 20px auto;
    padding: 20px;
    font-family: inherit;
    border: none;
    border-radius: 20px;
    font-size: 20px;
}

#grid {
    width: 60%;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.square {
    width: calc((100% / 10) - 10px);
    aspect-ratio: 1 / 1;
    border: solid 1px white;
    cursor: pointer;
}

.clicked {
    background-color: aqua;
}

form {
    text-align: center;
    margin-top: 50px;
}

#generate_grid {
    color: darkblue;
    background-color: aqua;
    font-family: inherit;
    border: none;
    padding: 15px 40px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
}